{% extends "auction/base.html" %}

{% block content %}
<h1>Bids</h1>
{% if object_list %}
    <ul>
        {% for object in object_list %}
            <li>
                <a href="{% url lot object.lot.content_object.slug object.lot.slug object.lot.pk %}">{{object.lot.name}}</a> {{object.amount}}
                {% if not object.is_locked %}
                    <a href="{% url delete_bid object.pk %}">delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no bids.</p>
{% endif %}
{% endblock %}